

a{
    text-decoration: none;
}
ul{
    list-style: none;
}

/*Version 2*/

.nav-hamb-menu{
    display: flex;
    flex-direction: column; 
}


/* Nav menu */

.nav{
    width: 50%;
    height: 100%;
    position: fixed;
    background-color: white;
    overflow: hidden;

}
.menu a{
    display: block;
    padding: 5px;
    color: black;
}
.menu a:hover{
    background-color: gray;
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 34px 20px;
    width: fit-content;
    z-index: 2;
    display: flex;
    justify-content: end;
}/* Style label tag */

.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
    background-color: black;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
    background-color: black;
}
.hamb-line::after{
    top: -5px;
    background-color: black;
}

.side-menu {
    display: none;
} /* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 50%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

/* Responsiveness */
@media (min-width: 560px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
    }
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: transparent;
        color: var(--gray);
    }

    .hamb{
        display: none;
    }
}






/*Old menu*/

.brand-and-nav {
    display: flex;
    justify-content: space-between;
}

.brand {
    color: white;
    padding: 10px 15px 10px 0px;
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.brand span {
    color: black;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style-type: none;
    padding: 10px 15px;
}

header nav ul li a {
    color: #d3e7f7;
    text-decoration: none;
    font-size: 14px;
    font-family: "Inter", sans-serif;
}

header nav ul li a:hover {
    color: white;
}