
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
    font-family: sans-serif;
 }

.inner-wrapper {
    /* background-color: lightcoral; */
    margin: 0 auto;
    max-width: 1110px;
}

.external-wrapper {
    background-color: #6998AB;
    width: 100%;
}

header {
    padding-top: 20px;
    height: ;
}

.brand-and-nav {
    display: flex;
    justify-content: space-between;
}

.brand {
    color: white;
    padding: 10px 15px 10px 0px;
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.brand span {
    color: black;
}

header nav ul {
    display: flex;

}

header nav ul li {
    list-style-type: none;
    padding: 10px 15px;
}

header nav ul li a {
    color: #c5c5b5;
    text-decoration: none;
    font-size: 14px;
    font-family: "Inter", sans-serif;
}

header nav ul li a:hover {
    color: white;
}

header .search-form-and-image{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .search-form {
    display: flex;
    flex-direction: column;
  
}

header .city-images {
    border-radius: 50px;
    overflow: hidden;
    width: 480px;
    height: 320px;

}

h1 {
    color: white;
    font-size: 60px;
    font-family: "sorce Serif Pro", serif;
    margin: 0px 0px 48px;
    font-weight: 500;
    padding-top: ;
}